<div>
    @{
        for (int i = 0; i < 24; i++)
        {
            var chromaticScale = Helpers.Flats;
            var chromaticIdxOfRoot = Array.IndexOf(chromaticScale, chord.Root.Name);
            var iInChromatic = (i + chromaticIdxOfRoot) % chromaticScale.Length;
            var keyName = chromaticScale[iInChromatic];
            if (keyName.Length > 1)
            {
                //black
                <div class="bg-black  "></div>
            }
            else
            {
                //white
            }
        }
    }
</div>